body{
    background: url(../image/space.jpeg);
    color: aliceblue;
    font-size: 1.5rem;
}

.line{
    background-color: rgb(248, 56, 56);
    height: 5px;
    border-width: 0;
}
a{
    color:rgb(248, 56, 56);
}